In [1]:
import os
import sys
import requests
import pymysql
import json
import pandas as pd
from sqlalchemy import create_engine

In [5]:
header = {'X-Naver-Client-Id':'Idvcnqw7F3hMSlASQRAG',
          'X-Naver-Client-Secret':'Ed3Texegm1',
          "Content-Type":"application/json"}
body = {'startDate':'2023-01-01',
        'endDate':'2023-12-31',
        'timeUnit':'date',
        'keywordGroups':[{'groupName':'벚꽃', 'keywords':['벚꽃','cherry blossom']},
                         {'groupName':'장범준', 'keywords':['장범준','버스커버스커']}
                        ],
        'device':'mo',
        'ages': ['2','3','4']}
body = json.dumps(body)
url = 'https://openapi.naver.com/v1/datalab/search'

In [6]:
response = requests.post(url, headers=header, data=body)
print(response.status_code)

200

In [9]:
result = json.loads(response.text)

In [29]:
user = 'moon'
db = 'moondb'
password = 'bigdata2020'
host = 'host.docker.internal'
port = 3307
conn = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(user, password, host, port, db)
engine = create_engine(conn)

In [30]:
for i in result['results']:
    df = pd.DataFrame(i['data'])
    df['title'] = i['title']
    df.to_sql('trend', con=engine, if_exists='append', index=False)

In [31]:
query = "SELECT * FROM trend"
pd.read_sql_query(query, engine)

         period    ratio title
0    2023-01-01  1.68570    벚꽃
1    2023-01-02  1.51634    벚꽃
2    2023-01-03  1.40212    벚꽃
3    2023-01-04  1.16581    벚꽃
4    2023-01-05  1.45726    벚꽃
..          ...      ...   ...
725  2023-12-27  3.36746   장범준
726  2023-12-28  3.07995   장범준
727  2023-12-29  2.56400   장범준
728  2023-12-30  4.02126   장범준
729  2023-12-31  3.19023   장범준

[730 rows x 3 columns]